#top{
  background-image: url("../images/thor.jpg");
  height: 800px;
  color: #fff;
}


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat-Light";
  color: white;
}
.container-fluid{
  padding: 2% 15%;

}
